body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    overflow: scroll;
}
.upload-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px solid #007BFF;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: #007BFF;
    border-radius: 5px;
    margin-bottom: 20px;
}
.custom-file-upload:hover {
    background-color: #007BFF;
    color: #fff;
}
button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
#message {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.table-container {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #e0e0e0;
}
td {
    border-bottom: 1px solid #ddd;
}